/* ===================================
   body
=================================== */
body {
    font-family: 'Raleway', sans-serif;
    background: #c7a902; /* Color dorado */

    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* Fija la imagen para crear un efecto parallax */
    text-align: center;
    padding: 20px;
    margin: 0; /* Elimina los márgenes por defecto */
    
    
  }
  /* Sección con fondo animado */
  .section1 {
     /* Imagen de fondo */
    background-size: cover; /* Cubre toda la pantalla */
    background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    height: auto; /* Ocupa toda la pantalla en altura */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    animation: moveBackground 5s ease-in-out infinite alternate; /* Animación de movimiento */
    background-image: url('../Img/FondoPrincipal.jpeg');
  }
  
  /* Capa oscura encima de la imagen */
  .section1::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1); /* Oscurece el fondo ligeramente */
    z-index: 1;
  }
  
  /* Asegura que el contenido esté por encima de la capa oscura */
  .section1 > * {
    position: relative;
    z-index: 2;
  }
  
  /* Efecto de transición suave para el contenido */
  .section1-content {
    transition: transform 1s ease; /* Transición suave al hacer scroll */
  }
  
  .section1.scrolled .section1-content {
    transform: translateY(-50px); /* Mueve el contenido hacia arriba al hacer scroll */
  }
  
  /* --- Animación de fondo en movimiento --- */
  @keyframes moveBackground {
    0% {
      background-position: left bottom;
    }
    50% {
      background-position: center center;
    }
    100% {
      background-position: right top;
    }
  }
  
  /* --- Ajustes para dispositivos móviles --- */
  @media (max-width: 768px) {
    .section1 {
        height: 100vh; /* La altura sigue siendo del 100% de la pantalla */
    }
    
    .section1 > * {
        padding: 10px; /* Reduce los paddings en móviles */
    }
    
    .section1-content {
        padding: 20px 10px;
        transform: translateY(-20px); /* Ajuste menor para la transición */
    }
  }
  
  /* Ajuste para pantallas más pequeñas como teléfonos */
  @media (max-width: 480px) {
    .section1 {
        height: auto; /* Ajusta la altura en pantallas muy pequeñas */
    }
    
    .section1-content {
        transform: translateY(0px); /* Elimina el movimiento en pantallas muy pequeñas */
    }
  }
  
  p {
      font-size: 2.2em;
      color:   white;
      font-family: 'Dancing Script', cursive
  }
  h1 {
      font-family: 'Dancing Script', cursive;
      color:  white;
      font-size: 4.5em;
  }
  nav ul {
      list-style-type: none;
      padding: 0;
  }
  
  nav ul li {
      display: inline-block;
      margin: 10px;
  }
  
  a {
      text-decoration: none;
      color: #3498db;
      font-weight: bold;
  }
  
  a:hover {
      color: #e74c3c;
  }
  
  /* Media Queries para pantallas pequeñas */
  @media only screen and (max-width: 600px) {
      body {
          padding: 10px;
      }
  
      h1 {
          font-size: 5em;  /* Tamaño de texto reducido para móviles */
      }
  
      nav ul li {
          display: block;  /* Coloca los enlaces en bloques verticales */
          margin: 10px 0;
      }
  
      a {
          font-size: 2.2em;  /* Aumenta el tamaño del texto de los enlaces en móviles */
      }
  }
  
  
  /* ===================================
     Section: Boton
  =================================== */
  
  button {
      position: relative;
      padding: 12px 35px;
      background: #def76e;
      font-size: 17px;
      font-weight: 500;
      color: #181818;
      border: 3px solid #000000;
      border-radius: 8px;
      box-shadow: 0 0 0 #fec1958c;
      transition: all 0.3s ease-in-out;
      cursor: pointer;
    }
    
    .star-1 {
      position: absolute;
      top: 20%;
      left: 20%;
      width: 25px;
      height: auto;
      filter: drop-shadow(0 0 0 #ffe100);
      z-index: -5;
      transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
    }
    
    .star-2 {
      position: absolute;
      top: 45%;
      left: 45%;
      width: 15px;
      height: auto;
      filter: drop-shadow(0 0 0 #ffe100);
      z-index: -5;
      transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    }
    
    .star-3 {
      position: absolute;
      top: 40%;
      left: 40%;
      width: 5px;
      height: auto;
      filter: drop-shadow(0 0 0 #fffdef);
      z-index: -5;
      transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
    }
    
    .star-4 {
      position: absolute;
      top: 20%;
      left: 40%;
      width: 8px;
      height: auto;
      filter: drop-shadow(0 0 0 #fffdef);
      z-index: -5;
      transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
    }
    
    .star-5 {
      position: absolute;
      top: 25%;
      left: 45%;
      width: 15px;
      height: auto;
      filter: drop-shadow(0 0 0 #fffdef);
      z-index: -5;
      transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
    }
    
    .star-6 {
      position: absolute;
      top: 5%;
      left: 50%;
      width: 5px;
      height: auto;
      filter: drop-shadow(0 0 0 #fffdef);
      z-index: -5;
      transition: all 0.8s ease;
    }
    
    button:hover {
      background: transparent;
      color: #ffffff;
      box-shadow: 0 0 25px #fec1958c;
    }
    
    button:hover .star-1 {
      position: absolute;
      top: -80%;
      left: -30%;
      width: 25px;
      height: auto;
      filter: drop-shadow(0 0 10px #ffe100);
      z-index: 2;
    }
    
    button:hover .star-2 {
      position: absolute;
      top: -25%;
      left: 10%;
      width: 15px;
      height: auto;
      filter: drop-shadow(0 0 20px #ffe100);
      z-index: 2;
    }
    
    button:hover .star-3 {
      position: absolute;
      top: 55%;
      left: 25%;
      width: 5px;
      height: auto;
      filter: drop-shadow(0 0 20px #ffe100);
      z-index: 2;
    }
    
    button:hover .star-4 {
      position: absolute;
      top: 30%;
      left: 80%;
      width: 8px;
      height: auto;
      filter: drop-shadow(0 0 20px #ffe100);
      z-index: 2;
    }
    
    button:hover .star-5 {
      position: absolute;
      top: 25%;
      left: 115%;
      width: 15px;
      height: auto;
      filter: drop-shadow(0 0 20px #ffe100);
      z-index: 2;
    }
    
    button:hover .star-6 {
      position: absolute;
      top: 5%;
      left: 60%;
      width: 5px;
      height: auto;
      filter: drop-shadow(0 0 20px #fadd04);
      z-index: 2;
    }
    
    .fil0 {
      fill: #fffdef;
    }
 
/* Definimos la animación fadeIn */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


/* Estilos para la sección de información del evento */
.event-info {
  background: #222;
  padding: 20px 10px;
  color: #fff;
}

/* Estilos base para los números y textos */
.number, .month, .time {
  font-weight: bold;
}

/* Tamaños iniciales (se ajustarán con JS para ser responsivos) */
.number {
  font-size: 4rem;
}
.month {
  font-size: 2rem;
}
.time {
  font-size: 4rem;
}

/* Ubicación */
.location p {
  margin: 0;
  font-size: 1.2rem;
}

/* Animación de latido para elementos con clase .heartbeat */
.heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite;
  
}

@keyframes heartbeat {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.Titulo21 {
  color: gold; /* Color dorado */
}